@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/static/SpaceGrotesk-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/static/SpaceGrotesk-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/static/SpaceGrotesk-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/static/SpaceGrotesk-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/static/SpaceGrotesk-Light.ttf");
    font-style: normal;
    font-weight: 300;
}